h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: orange;
    font-family: 'Lobster', cursive;
}

p {
    color: #33ffff;
    font-family: 'Lobster', cursive;
}

body {
  background: url("https://upload.wikimedia.org/wikipedia/commons/7/7b/Ravenna_High_School_1.jpg")
}
   
form {
    font-size: 30px;
    color: darkblue;
}

#submit {
    background-color: lightblue;
    width: 300px;
    padding: 15px;
    border: 5px solid darkblue;
    margin: 17px;
}