h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: orange;
    font-family: 'Lobster', cursive;
}

p {
    color: #33ffff;
    font-family: 'Lobster', cursive;
}

background {
    color: #558000;
    
}

